<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event['name'] }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
<body>
    <h1>{{ event['name'] }} Details</h1>
    <table>
        {% for key, value in event.items() %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/" class="button">Back to Event List</a>
</body>
</html>
