<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event['name'] }} Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
</head>
<body>
    <h1>{{ event['name'] }} Details</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <td>{{ event['name'] }}</td>
        </tr>
        <tr>
            <th>Date/Time</th>
            <td>{{ event['datetime'] }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ event['location'] }}</td>
        </tr>
    </table>
    <a href="/" class="button">Back to Event List</a>
</body>
</html>
